.flex {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

#navbar {
    background-color: red;
    height: 100px;
}

.navbar-div {
    background-color: blue;
    width: 200px;
    margin: 20px;
}

#main-div {
    background-color: blue;
}

p, label {
    color: greenyellow;
    font-size: 6mm;
}

.bouton-calculatrice {
    background-color: green;
    margin: 10px;
    width: 25px;
}